/* Header */
header{
     background: #2d7a8a;
     height: 100px;
     width: 100%;
 }
 
 #map {
      height: 450px;
      width: 100%;
 }
 
 .logopos {
      float: left;
      margin-left: 15px;
      padding: 25px;
      height: 100%;
 }
 
 /* Header fim */
 
 form {
     width: 100%;
 }
 
 .text_font {
     font-family: 'Syne';
 }
 
 .text_triagem {
      float: left;
      margin-left: 310px;
      padding: 15px;
      width: 100%;
      font-size: 22px;
 }
 
 .text_nome {
      float: left;
      margin-left: 310px;
      padding: 15px;
      width: 15%;
      font-size: 15px;
 }
 
 .text_idade {
      float: left;
      margin-left: 175px;
      padding: 15px;
      width: 5%;
      font-size: 15px;
 }
 
 .text_sexo {
      float: left;
      margin-left: 130px;
      padding: 15px;
      width: 10%;
      font-size: 15px;
 }
 
 .text_profissao {
      float: left;
      margin-left: 310px;
      padding: 15px;
      padding-top: 1px;
      width: 20%;
      font-size: 15px;
 }
 
 .text_queixa {
      float: left;
      margin-left: 100px;
      padding: 15px;
      padding-top: 1px;
      width: 20%;
      font-size: 15px;
 }
 
 .text_sinais {
      float: left;
      margin-left: 685px;
      padding: 15px;
      width: 100%;
      font-size: 15px;
 }
 
 .text_pa {
      float: left;
      margin-left: 310px;
      padding: 15px;
      padding-top: 1px;
      width: 15%;
      font-size: 15px;
 }
 
 .text_fc {
      float: left;
      margin-left: 45px;
      padding: 15px;
      padding-top: 1px;
      width: 15%;
      font-size: 15px;
 }
 
 .text_fr {
      float: left;
      margin-left: 45px;
      padding: 15px;
      padding-top: 1px;
      width: 15%;
      font-size: 15px;
 }
 
 .text_sint_resp {
      float: left;
      margin-left: 310px;
      padding: 15px;
      padding-top: 1px;
      width: 20%;
      font-size: 15px;
 }
 
 .text_spo2 {
      float: left;
      margin-left: 275px;
      padding: 15px;
      padding-top: 1px;
      width: 5%;
      font-size: 15px;
 }
 
 .text_temp {
      float: left;
      margin-left: 310px;
      padding: 15px;
      padding-top: 1px;
      width: 15%;
      font-size: 15px;
 }
 
 .text_marcha {
      float: left;
      margin-left: 1px;
      padding: 15px;
      padding-top: 1px;
      width: 1px;
      font-size: 15px;
 }
 
 .text_marcha_op1 {
      float: left;
      margin-left: 1px;
      padding-top: 20px;
      width: 1px;
      font-size: 12px;
 }
 
 .text_marcha_op2 {
      float: left;
      margin-left: 150px;
      padding-top: 16px;
      width: 0px;
      font-size: 12px;
 }
 
 .text_marcha_op2_label {
      float: left;
      margin-left: 20px;
      padding-top: 20px;
      width: 0px;
      font-size: 12px;
 }
 
 .text_marcha_op3 {
      float: left;
      margin-left: 137px;
      padding-top: 16px;
      width: 0px;
      font-size: 12px;
 }
 
 .text_marcha_op3_label {
      float: left;
      margin-left: 20px;
      padding-top: 20px;
      width: 0px;
      font-size: 12px;
 }
 
 .text_marcha_op4 {
      float: left;
      margin-left: 147px;
      padding-top: 16px;
      width: 0px;
      font-size: 12px;
 }
 
 .text_marcha_op4_label {
      float: left;
      margin-left: 20px;
      padding-top: 20px;
      width: 0px;
      font-size: 12px;
 }
 
 .text_sistemicas {
      float: left;
      margin-left: 310px;
      padding: 15px;
      width: 100%;
      font-size: 15px;
 }
 
 .text_sistemicas_op1 {
      float: left;
      margin-left: 320px;
      padding-top: 1px;
      width: 0px;
      font-size: 12px;
 }
 
 .text_sistemicas_op1_label {
      float: left;
      margin-left: 20px;
      padding-top: 4px;
      width: 0px;
      font-size: 12px;
 }
 
 .text_sistemicas_op2 {
      float: left;
      margin-left: 40px;
      padding-top: 1px;
      width: 0px;
      font-size: 12px;
 }
 
 .text_sistemicas_op2_label {
      float: left;
      margin-left: 20px;
      padding-top: 4px;
      width: 0px;
      font-size: 12px;
 }
 
 .text_status_paciente {
      float: left;
      margin-left: 310px;
      padding: 15px;
      width: 100%;
      font-size: 15px;
 }
 
 .text_status_paciente_op1 {
      float: left;
      margin-left: 320px;
      padding-top: 1px;
      width: 0px;
      font-size: 12px;
 }
 
 .text_status_paciente_op1_label {
      float: left;
      margin-left: 20px;
      padding-top: 4px;
      width: 0px;
      font-size: 12px;
 }
 
 .text_status_paciente_op2 {
      float: left;
      margin-left: 170px;
      padding-top: 1px;
      width: 0px;
      font-size: 12px;
 }
 
 .text_status_paciente_op2_label {
      float: left;
      margin-left: 20px;
      padding-top: 5px;
      width: 0px;
      font-size: 12px;
 }
 
 .text_status_paciente_op3 {
      float: left;
      margin-left: 190px;
      padding-top: 1px;
      width: 0px;
      font-size: 12px;
 }
 
 .text_status_paciente_op3_label {
      float: left;
      margin-left: 20px;
      padding-top: 5px;
      width: 0px;
      font-size: 12px;
 }
 
 .text_status_paciente_op4 {
      float: left;
      margin-left: 150px;
      padding-top: 1px;
      width: 0px;
      font-size: 12px;
 }
 
 .text_status_paciente_op4_label {
      float: left;
      margin-left: 20px;
      padding-top: 5px;
      width: 0px;
      font-size: 12px;
 }
 
 .text_status_paciente_op5 {
      float: left;
      margin-left: 190px;
      padding-top: 1px;
      width: 0px;
      font-size: 12px;
 }
 
 .text_status_paciente_op5_label {
      float: left;
      margin-left: 20px;
      padding-top: 5px;
      width: 5px;
      font-size: 12px;
 }
 
 .button {
      float: left;
      margin-left: 1150px;
      padding-top: 50px;
      width: 100%;
      font-size: 20px;
 
 }