
/* Header */
header {
    padding: 5px 15px;
}

#map {
     height: 450px;
     width: 100%;
}

.logopos {
     float: left;
     margin-left: 15px;
     padding: 25px;
     height: 100%;
}

/* Header fim */

form {
    width: 100%;
}

.text_font {
    font-family: 'Syne';
}

