
/* Header */
header{
    background: #2d7a8a;
    height: 100px;
    width: 100%;
}

#map {
     height: 450px;
     width: 100%;
}

.logopos {
     float: left;
     margin-left: 15px;
     padding: 25px;
     height: 100%;
}

/* Header fim */

form {
    width: 100%;
}

.text_font {
    font-family: 'Syne';
}

